{% extends "base.html" %}
{% block body %}
    <div class="product-details-page">
       <div class="product">
            <div class="title">{{ product.title }}</div>
            <div class="description">{{ product.description }}</div>
            <div class="owner">
                <span>Owner</span>
                <a href="{% url 'accounts:profile' product.owner.username %}">{{ product.owner.username }}</a>
            </div>
            <div class="awner">Lessons {{ product.lessons.count }}</div>
            <div>
                {% for lesson in product.lessons.all %}
                    <a href="{% url "products:lesson-details" product.id lesson.id %}">{{ lesson.title }}</a>
                {% endfor %}
            </div>
       </div>
    </div>
{% endblock body %}
