footer {
    width:100%;
    min-height: 100px;
    background:teal;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        text-align: center;
        color: var(--white);
    }
}