html {
    --main-color: rgb(0, 128, 128);
    --main-color2: rgb(0, 111, 111);
    --base-white: #fff;
    --white: #fff;
    --border-color: rgb(229, 229, 229);
    --dark-blue: rgb(0, 0, 148);
    --black: rgb(0, 0, 0);
    --silver: rgb(192, 192, 192);
}